<div class="cabecera">
    <mat-icon>settings</mat-icon>
    <p>Preferencias</p>
</div>
<mat-dialog-content class="mat-typography" align="center"> 
    <!-- Cambiar al modo oscuro/claro -->
    <mat-slide-toggle color="primary" [(ngModel)]="esDark">Modo Oscuro</mat-slide-toggle>

    <!-- Cambiar el color del tema -->
    <mat-form-field appearance="fill" color="primary">
        <mat-label>Color de Interfaz</mat-label>
        <mat-select (selectionChange)="selectColor($event.value)" [(ngModel)]="colorSeleccionado">
            <mat-option *ngFor="let color of colores" [value]="color.value">
                <img src="{{ color.img }}" width="15px" height="15px"> {{color.texto}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center">
<button class="btn-action" mat-flat-button color="primary" (click)="cambiarTema()">GUARDAR</button>
<button class="btn-action" mat-flat-button color="warn" cdkFocusInitial mat-dialog-close>CANCELAR</button>
</mat-dialog-actions>
