<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5">

      <div class="cabecera">
        <mat-icon>library_music</mat-icon>
        <p>Gestionar Canción</p>
      </div>

      <!-- #region DATOS CABECERA CANCION -->
      <form [formGroup]="formulario" method="POST">
        <div class="row">

          <div class="col-sm-12">
            <!-- Nombre -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="nombre">
              <mat-error>
                Completa con un nombre
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
             <!-- Tonica -->
             <mat-form-field appearance="outline" class="full-width">
              <mat-label>Tónica</mat-label>
              <input matInput type="text" formControlName="tonica">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <!-- BPM -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>BPM</mat-label>
              <input matInput type="number" formControlName="bpm">
            </mat-form-field>
          </div>

        </div>
      </form>
      <!-- #endregion -->
    </div>

    <div class="col-sm-12 col-md-7">
      <app-secciones-cancion></app-secciones-cancion>
    </div>
  </div>
</div>

