<app-seleccion (respuesta)="Buscar(undefined, $event)"></app-seleccion>

<div class="contenedor">
  <!-- #region ABMC -->
  <div class="abmc row">

    <!-- Botones de acción -->
    <div class="order-2 col-sm-12 order-sm-2 col-md-8 order-md-1 col-lg-8 botones">
      <button type="button" class="btn btn-success"><mat-icon>add_circle</mat-icon>Nueva Canción</button>
    </div>

    <!-- Input de Busqueda -->
    <div class="order-1 col-sm-12 order-sm-1 col-md-4 order-md-2 col-lg-4 txtbusqueda">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>BUSCAR</mat-label>
        <input matInput type="text" placeholder="presiona ENTER para buscar" [(ngModel)]="txtBusqueda" (keyup.enter)="Buscar()" (keyup.escape)="LimpiarBusqueda()">

        <!-- Boton Limpiar -->
        <button *ngIf="txtBusqueda" matSuffix matTooltip="Limpiar" mat-icon-button aria-label="Clear" (click)="LimpiarBusqueda()">
          <mat-icon>close</mat-icon>
        </button>

        <!-- Boton Busqueda -->
        <button matSuffix matTooltip="Buscar" mat-icon-button aria-label="Search" (click)="Buscar()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <!-- #endregion ABMC -->

  <!-- #region TABLA -->
  <div class="table-container">
    <mat-table mat-table [dataSource]="dataSource" class="ppalTable mat-elevation-z1 full-width" matSort >

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>
      <!-- Tonica -->
      <ng-container matColumnDef="tonica">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Tonica</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.tonica}} </mat-cell>
      </ng-container>
      <!-- Bpm -->
      <ng-container matColumnDef="bpm">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>BPM</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.bpm}} </mat-cell>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <div class="acciones">
            <mat-icon>library_add</mat-icon>
            <mat-icon>edit</mat-icon>
            <mat-icon>backspace</mat-icon>
          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[20, 40]"
      (page)="Buscar($event)"
      aria-label="Select page"
      class="mat-elevation-z1">
    </mat-paginator>
  </div>
  <!-- #endregion TABLA -->
</div>
