//Los estilos SCSS para la tabla se encuentran en el archivo stiles.css

//Elimina el padding bottom de el txtBusqueda
::ng-deep .txtbusqueda .mat-form-field-wrapper{
  padding-bottom: 0px !important;
}

.acciones{
  display: flex;
  gap: 10px;
}
.acciones mat-icon{
  cursor: pointer;
}

