.cabecera{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
  }
  .cabecera p{
    margin: 0%;
    color: white;
    font-size: 18px;
    font-family: "Poppins-Light";
  }
  .cabecera mat-icon{
    color: var(--color-primary) !important;
    margin-right: 5px;
  }

 .mat-typography{
  padding-bottom: 2px;
 }


 .texto{
  text-transform: uppercase;
 }

 .color{
  cursor: pointer;
 }