<mat-tab-group id="tabs" mat-stretch-tabs="true" mat-align-tabs="center">
  <mat-tab label="LETRAS">
    <!-- #region LETRAS SECCION -->
    <div class="contenedor">
      <form [formGroup]="formulario">
        <div formArrayName="secciones">
          <div *ngFor="let seccion of secciones.controls; let i = index">

            <div class="secciones">
              <div [formGroupName]="i" class="full-width">

                <!-- Nombre de la sección - Boton borrar sección -->
                <div class="titulo-seccion">
                  <mat-icon (click)="BorrarSeccion(i)" matTooltip="Borrar Sección">dangerous</mat-icon>
                  <input type="text" formControlName="tipo">
                </div>

                <!-- Letra -->
                <mat-form-field appearance="outline" class="full-width">
                  <textarea appTextareaAutoresize matInput placeholder="Escribe la letra" formControlName="letra"></textarea>
                </mat-form-field>

              </div>

              <div class="nav">
                <button mat-button (click)="SubirItem(i)"[disabled]="(i + 1) == 1"><mat-icon>expand_less</mat-icon></button>
                <button mat-button (click)="BajarItem(i)" [disabled]="(i + 1) == secciones.controls.length"><mat-icon>expand_more</mat-icon></button>
              </div>
            </div>


          </div>
        </div>
      </form>

      <!-- Boton añadir nueva sección -->
      <button class="btnPrincipal" mat-stroked-button color="primary" [matMenuTriggerFor]="menu" yPosition="before"><mat-icon>add_circle</mat-icon>SECCIÓN</button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let item of tiposSeccion" mat-menu-item (click)="AnadirSeccion(item)">{{item.nombre}}</button>
      </mat-menu>
    </div>
    <!-- #endregion -->
  </mat-tab>
  <mat-tab label="ACORDES">
    <!-- #region ACORDES SECCION -->
      <div class="seccion-acorde" *ngFor="let seccion of secciones.controls; let i_seccion = index">
        <p>𝅘𝅥𝅮 {{seccion.value.tipo}}</p>

        <div *ngFor="let renglon of ObtenerRenglonesTexto(seccion.value.letra); let i_renglon = index">
          <div class="cuadricula">

          <div class="cuadro" *ngFor="let cuadro of [].constructor(renglon.length + 2); let i_cuadro = index">

              <span *ngIf="ObtenerIndexUbicacion(i_seccion, i_renglon, i_cuadro)==-1" class="no-acorde" (click)="AbrirInput(i_seccion, i_renglon, i_cuadro, true)">+</span>
              <div *ngIf="indiceAcorde!=-1">

                <span class="acorde" (click)="AbrirInput(i_seccion, i_renglon, i_cuadro, false)">{{acordesCancion[indiceAcorde].acorde}}</span>
                <input #inputAcorde class="input-acorde" type="text" uppercase
                  *ngIf="acordesCancion[indiceAcorde].inputAbierto"
                  (blur)="CerrarInput(i_seccion, i_renglon, i_cuadro)"
                  [value]="acordesCancion[indiceAcorde].acorde">

              </div>
            </div>

          </div>
          <p class="renglon"><span>N</span>{{renglon}}<span>N</span></p>
        </div>
      </div>
    <!-- #endregion -->
  </mat-tab>
</mat-tab-group>
