// #region Cabecera
.cabecera{
    height: 50px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 50px;
    color: white;
}



.detalles{
    display: flex;
    align-items: center;
    gap: 10px;
}
.detalles p{
    margin: 0%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.detalles span{
    color: #cacaca;
    font-size: 18px;
}


.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.categoria{
    background-color: #333333;
    padding: 2px 15px;
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 0%;
    z-index: 99;
    font-size: 13px;
}

.boton{
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: ease-in-out 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.boton:hover{
    background-color: var(--color-primary);
}
  // #endregion


  .titulos{
    text-transform: uppercase;
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: -2px;
    margin-left: 12px;
  }

  .seccion{
    margin-bottom: 20px;
  }

  .active{
    background-color: var(--color-primary);
  }

// #region ACORDES
  .cuadricula{
    display: flex;
    margin-bottom: -5px;
  }
  .renglon{
    font-family: 'DMMono';
    font-size: 20px;
    margin-bottom: 2px;
  }
  .renglon span{
    color: var(--color-background);;
  }
  
  .cuadro{
    position: relative
  }
  .no-acorde{
    font-family: 'DMMono';
    font-size: 20px;
    cursor: default;
    color: var(--color-background);
    transition: ease-in-out 0.2s;
    display: inline-block;
  
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
 
  .acorde{
    font-family: 'Roboto-Bold';
    font-size: 20px;
    color: var(--color-primary);
    transition: ease-in-out 0.2s;
    display: inline-block;
    cursor: default;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  

  .sAcorde-cont{
    display: flex;
    margin-left: 12px;
  }
  .sAcorde{
    font-family: 'Roboto-Bold';
    font-size: 20px;
    color: var(--color-primary);
    cursor: default;
    margin-right: 8px;
  }
  // #endregion